/* Common Colors */
$background-color: #F6F6F6;
$grey-color: #EAEAEA;
$grey-text: #353535;
$white-color: #FFF;
$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
$black-color: #000;
$green-color: #99E2D0;
$pink-color: #9356DC;
$green-font-color: #008766;





/* Common Fonts */
$font-roboto: "Roboto", sans-serif;
$font-shrikhand: "Shrikhand";

@keyframes cascading-drop {
  0% {
    transform: translateY(-50px); 
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}

/* Apply animation  */
@media (max-width: 767.98px) {
  body,
  .container-header,
  .location-container,
  .search-bar,
  .button-container-search,
  .Fonctionnement,
  .container-fonctionnement { 
    animation: cascading-drop 0.5s ease-out;
  }
}
 

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #FFF;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
  }

  .loader:before, .loader:after {
    content: '';
    border: 1em solid $pink-color;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
  }

  .loader:before {
    animation-delay: .2s;
  }

  @keyframes loader {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      opacity: 0;
    }
  }

@media (max-width: 767.98px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

 
    
  .container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0 13px;

    .logo img {
      width: 182px;
      height: auto;
    }
  }
  
  .location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 17px;
    background: var(--grey-2, $grey-color);

    .location-text {
      font-family: $font-roboto;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
  }
  

  /****** Titre ***********/
  /* Search Bar */
  .search-bar {
    background: var(--background, $background-color);

    .title-principal {
      text-align: center;
      color: $black-color;
      font: 700 24px $font-roboto;
      margin: 0;
      padding: 39px 58px 10px 42px;
    }
  
    .title-secondary {
      color: var(--grey, $grey-text);
      text-align: center;
      font: 300 18px $font-roboto;
      margin: 0;
      padding: 0 26px 27px 24px;
    }
  }


    .button-container-search {
      display: flex;
      justify-content: center;
      padding-bottom: 35px;

      .button-search {
        font: 500 16px $font-roboto;
        color: var(--white, $white-color);
        border: none;
        width: 218px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 25px;
        background: var(--button-gradient, $button-gradient);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        transition: transform 400ms;
        cursor: pointer;
        
        &:hover {
          transform: scale(1.05);
          border-radius: 25px;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }
      } 
    }
  
 

 

  
  
  /****** Foncionnements ***********/
  .Fonctionnement {
    padding: 20px;
    margin-bottom: 48px;

    .Fonc-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 25px;
      padding-left: 12px;
    }
    
    
  }
  
  
  
  .container-fonctionnement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 72px;
    border-radius: 20px;
    background: var(--background, $background-color);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

    .container-icon {
      padding: 23px 27px 28px 33px;
    }
    
    .container-text {
      color: $black-color;
      font: 600 16px $font-roboto;
      line-height: normal;
    }
    
    .circle {
      position: absolute;
      left: 12px;
      width: 24px;
      height: 24px;
      background-color: $pink-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
    }
  }
  
  


  /****** restaurants ***********/
  .restaurants {
    padding: 20px;
    padding-bottom: 48px;
    background-color: var(--background, $background-color);
  }

  
  .Fonc-title {
    color: $black-color;
    font: 700 24px $font-roboto;
    margin: 28px 0 26px;
  }

  .card-content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 18px;
  }

  .img-card {
    width: 100%;
    height: 231px;
    border-radius: 15px 15px 0px 0px;
    display: block;
    object-fit: cover;
  }

  .overlay-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13px;
    right: 12px;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background: var(--green, $green-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--green-font, $green-font-color);
    z-index: 1;
  }

  .overlay-container-text {
    text-align: center;
    font: 500 14px $font-roboto;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .card-texts {
    display: flex;
    justify-content: space-between;
  }

  .card-title {
    color: $black-color;
    font: 700 18px $font-roboto;
    margin: 0;
    padding: 16px 0 5px 13px;
  }

  .card-subtitle {
    color: $black-color;
    font: 300 16px $font-roboto;
    margin: 0;
    padding: 0 0 14px 13px;
  }

  .icon-container-heart {
    padding: 20px;
  }

  .fa-heart {
    font-size: 24px;
    color: $black-color;

    &:hover {
      font-weight: 600;
      color: $pink-color;
    }

  }

 

  


 
    
  /****** footer ***********/
  .footer {
    background-color: #353535;
    padding: 22px 25px;
  }
  .footer h3 {
    color: var(--white, $white-color);
    font: 400 18px $font-shrikhand;
  }
  .fa-utensils,
  .fa-handshake {
    padding-right: 11px;
  }
  .footer a {
    text-decoration: none;
    color: var(--white, $white-color);
    font: 500 16px $font-roboto;
  }
  .footer p {
    margin: 3px 0 4px;
  }

  /*******menu-page*****/
  .fa-arrow-left:before {
    font-size: 24px;
  }
  .menu-return {
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: #ffffff;
  }
  .return-container {
    padding: 17px 25px 17px 17px;
  }

  .menu-main {
    background-color: var(--Background, $background-color);
    padding: 10px;
  }
  .img-card-second {
    width: 100%;
    height: 231px;
    border-radius:0px;
    display: block;
    object-fit: cover;
    position: relative;
  }

  .title-menu-resto {
    color: var(--Black, $black-color);
    font: 400 28px $font-shrikhand;
    line-height: normal;
  }

  .title-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu-container {
    background-color: var(--Background, $background-color);
    position: absolute;
    width: 100%;
    top: 229px;
    border-radius: 40px 40px 0px 0px;
    z-index: 1;
  }
  .menu-plats {
    color: $black-color;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    padding-top: 40px;
    font-style: normal;
    line-height: normal;
  }

  .menu-plats::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: $green-color;
  }

  .plats-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 12px;
    border-radius: 15.043px;
    background: var(--White, #FFF);
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .plats-container:hover .add-button {
    width:70px;
  }

  .add-button {
    background-color: $green-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    margin-right:-60px; 
    transition: all 0.4s ease-in-out;
  }

  .plats-text {
    display: flex;
    justify-content: space-between;
    //align-items: flex-end;
    width: 100%;
    overflow: hidden;

    &:hover {
      .add-button{
        margin-right:0px;
      }
      &::after {
        display: block;
      }
    }
  }

  .fa-circle-check {
    color: $white-color;
  }

  .plat-title,
  .plat-subtitle,
  .plat-prix {
    color: $black-color;
    font-family: $font-roboto;
    font-style: normal;
    line-height: normal;
  }

  .plat-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
  }

  .plat-subtitle {
    
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15.043px;
    font-weight: 300;
  
  }

  .plat-prix {
    color: #353535;
    font-size: 15.043px;
    font-weight: 700;
    display: flex;
    align-items: end;
  }

  .prix {
    padding:15px;
  }

  .plats-title-subtitle {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    position: relative;
    &::after {
      content: '...'; 
      top: 0;
      right: 0;
      position: absolute; 
      background: white; 
      padding-right: 10px;
      padding: 20px;
      display: none;
     
      
    }
  }

  .button-measures {
    margin-top: 40px;
  }
}


