$grey-2: #EAEAEA;
$background: #F6F6F6;
$grey: #353535;
$white: #FFF;
$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
$green: #99E2D0;
$green-font: #008766;
$black: #000;

@import "restaurants.scss";
@import "menu-page.scss";
@import "footer.scss";
@import "foncionnements.scss";

@media (max-width: 767.98px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0 13px;
  }

  .logo img {
    display: flex;
    width: 182px;
    height: auto;
  }

  .location-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 17px;
    background: $grey-2;
  }

  .location-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
   
  // Titre
  .search-bar {
    background: $background;
  }

  .title-principal {
    text-align: center;
    color: $black;
    font: 700 24px Roboto;
    margin: 0;
    padding: 39px 58px 10px 42px;
  }
  
  .title-secondary {
    color: $grey;
    text-align: center;
    font: 300 18px Roboto;
    margin: 0;
    padding: 0 26px 27px 24px;
  }

  .button-container-search {
    display: flex;
    justify-content: center;
    padding-bottom: 57px;
  }

  .button-search {
    font: 500 16px Roboto;
    color: $white;
    border: none;
    width: 218px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: $button-gradient;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    
  }

  
  
}
