/* Colors */
$background-color: #F6F6F6;
$grey-color: #EAEAEA;
$grey-text: #353535;
$white-color: #FFF;
$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
$black-color: #000;
$green-color: #99E2D0;
$pink-color: #9356DC;
$green-font-color: #008766;

/* Fonts */
$font-roboto: "Roboto", sans-serif;
$font-shrikhand: "Shrikhand";

/* Footer */
p {
    margin:0;
    padding: 0;
    align-self: center;
  }

a {
  text-decoration: none; 
}
